<%if (btn) {%>
<button
    class="btn btn btn-default modal_<%=btn.source%>_<%=btn.kls%> <%=btn.kls%> pull-right"
    type="button"
    data-id="<%=btn.id%>"
    data-source="<%=btn.source%>"
    >
    <%=btn.label%>
</button>
<%}%>
