<%if (locals.tabs && locals.tabs.length){%>
    <ul class="nav nav-tabs">
        <%$.each(locals.tabs, function(i, tab){%>
          <li class="<%=tab.active ? 'active': ''%>"><a href="#<%=tab.route_to%>"><%=tab.text%></a></li>
        <% }) %>
    </ul>
<% } %>
<%console.log(locals, locals.userInfo);%>
<%if (locals.buttons && locals.buttons.length){%>
    <%if(locals.userInfo && (locals.userInfo.admin || locals.isOwner)){%>
        <div class="pull-right">
            <%$.each(locals.buttons, function(i, button){%>
              <button data-text="<%=button.text%>" class="<%=button.kls%> btn-primary" data-id="<%=button.id%>" data-type="<%=button.type%>" ><%=button.text%></button>
            <% }) %>
        </div>
    <% } %>
<% } %>
<%if (1 || (locals.list && locals.list.length)){%>
    <table class="table table-hover table-condensed table-striped responsive">

            <tr>
                <th class="margin_t_10 text-center text_22px col-md-1 col-xs-1 col-sm-1">
                    #
                </th>
                <th class="margin_t_10 text-center text_22px col-md-4 col-xs-4 col-sm-4">
                    名称
                </th>
                <%if(!locals.no_privilege){%>
                    <th class="<%=locals.no_privilege? 'hide':''%> checkbox margin_t_10 text-center text_22px col-md-4 col-xs-4 col-sm-4">
                        权限
                    </th>
                <%}%>
                <th class="margin_t_10 text-center text_22px col-md-3 col-xs-3 col-sm-3">
                    修改
                </th>
            </tr>
            <% (locals.list || []).forEach(function(item, i){ %>
                <%- require('./partials/grid_row.ejs')({i: i, item: item, modalEditTitle: modalEditTitle, no_privilege:locals.no_privilege, no_edit: locals.no_edit, userInfo: locals.userInfo, grid_type: locals.grid_type, routingid: locals.routingid}) %>
            <% }) %>
    </table>
<%}%>