<%if(locals.item) {%>
<tr>
    <td>
        <input type="checkbox" class="i-checks icheck" id="<%= locals.item.id %>" name="trCheckbox">
    </td>
    <td><%= locals.item.name %></td>
    <td><%= locals.item.created_by %></td>
    <td><%= locals.item.updated_by %></td>
    <td><%= locals.item.create_time %></td>
    <td><%= locals.item.update_time %></td>
    <td>
        <a href="/platform/command_set/<%= locals.item.id %>/exec/" class="btn btn-sm btn-warning"><i class="fa fa-play"></i>&nbsp;执行</a>
        <a href="/platform/command_set/<%= locals.item.id %>/edit/" class="btn btn-sm btn-success"><i class="fa fa-edit"></i>&nbsp;编辑</a>
        <a href="javascript:void(0)" onclick="getExecJobId('<%= locals.item.id %>')" class="btn  btn-sm btn-success"><i class="fa fa-info"></i>&nbsp;日志</a>
        <a href="javascript:void(0)" onclick="deleteCommandSet('<%= locals.item.id %>')" class="btn  btn-sm btn-danger"><i class="fa fa-trash"></i>&nbsp;删除</a>
    </td>
</tr>
<%}%>
